.btn {
    border: 1px solid transparent;
    font-size: 20px;
    background:$color-47;
    color: $color-ff;
    @extend .inline-flex-center;
    line-height: 0.8;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.6s;
    min-width: 180px;
    min-height: 60px;
    @media only screen and (max-width: 1499px) {
        font-size: 16px;
        padding: 10px 20px;
        min-width: 155px;
        min-height: 50px;
    }
    @media only screen and (max-width: 1199px) {
        font-size: 14px;
        padding: 10px 14px;
        min-width: 130px;
        min-height: 42px;
    }
    &:after {
        @extend .after;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 0;
        transition: all 0.6s;
        opacity: 0; 
    }
    &:hover,&:focus {
        color: $color-ff;
        border-color: $color-a8;
        &:after {
            background:$color-a8;
            // background: rgba($color-a8, 0.2);
            height: 100%;
            opacity: 1;
            z-index: -1;
        }
    }
    &.btn-outline-primary {
        border-color: $color-47;
        color: $color-47;
        background: transparent;
        /* text-shadow: 0 4px 4px rgba(0,0,0,0.25); */
        &:hover,&:focus {
            color: $color-ff;
            border-color: $color-47;
            &:after {
                background:$color-47;
                height: 100%;
                opacity: 1;
                z-index: -1;
            }
        }
    }
}