$main-font: "Poppins", sans-serif;

$color-47:#243647;
/* $color-47:#00427c; */
$color-ff: #ffffff;
$color-00: #000000;
$color-22: #222222;
// $color-a8: #FFB6A8;
$color-a8: #aa240C;
$color-f8: #F8F8F8;
$color-e9: #FFE9E9;
$color-73: #737373;
$color-f3: #F3F3F3;
$color-83: #838383;
$color-f5: #ebf2f5;
$color-f6: #FF5737;